html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0;
}

/* TOP CONTACT */

.hamburger {
  display: none;
}

.hamburger i {
    font-size: 2rem;
    color: #8f9ffc;
    cursor: pointer;
}

.hamburger i:hover {
    color: #9cb4f5;
    transition: .2s ease-in;
}

.hamburger i:active {
    color: #ffffff;
}

.top-contact {
    background: black;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: relative;
    z-index: 1;
}

.top-contact span {
    margin-left: 50px;
}

.right-nav {
    margin-left: 430px;
}

.right-nav span{
    margin-left: 40px;
}

span {
    color: white;
}

/* HEADER */

  .night-mode {
    position: relative;
    top: 500px;
    left: 50px;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(79, 107, 230, 0.486);
    z-index: 777;
    cursor: pointer;
  }
.light-mode {
  position: absolute;
  right: 300px;
  opacity: 0;
}

.dark-mode {
  position: absolute;
  opacity: 0.6;
  transition: opacity 1s;
}

.dark-mode i, .light-mode i{
  font-size: 2.5rem;
  color: rgb(255, 255, 255);

}

.lightsOn {
  left: -500px;
  opacity: 0;
  transition: opacity 1s;
}

.lightsOff{
  right: 50%;
  opacity: 0.6;
  transform: translateX(50%);
  transition: opacity 1s;
}



.header {
    position: relative;
    background-size: 180%;
    bottom: 90px;
    animation: darkBG 1.6s ease-out infinite alternate;
    height: 90vh;
    overflow: hidden;
    
}

@keyframes darkBG {
    from{
        background-image: linear-gradient(145deg,#f55c70 10%, #f7b155 65%, #f7a04f 90%);
        background-position: top left;
    }
    to{
        background-image: linear-gradient(145deg,#f55c70 10%, #f7b155 65%, #f7a04f 90%);
        background-position: top right; 
    }
}

@keyframes headerBG {
  from {
    background-image: linear-gradient(5deg,#5379d1 5%, #161A23 60%);;
    background-position: top left;
  }
  to {
    background-image: linear-gradient(5deg,#5379d1 5%, #161A23 60%);;
    background-position: top right; 
  }
}



/* .header:hover {
    background-position: top left;
  
} */
    
/* LOGO */
.logo {
    display: flex;
    align-items: center;
    margin-right: 460px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    cursor: pointer;
}

.logo img {
    width: 50px;
}

.logo::after {
    content: "Erezolutions";
    color: white;
    display: flex;
    margin-left: 20px;
    text-align: center;
    cursor: pointer;

}

.get-started {
    justify-content: flex-start;

}

.top-nav {
    background:  transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    position: relative;
    top: 0;
    z-index: 999;
    margin: 0 0;
    transition: all .4s ease;
    overflow: hidden;
    
}

.nav-item {
    align-items: center;
    position: relative;
    left: 95px;
    list-style-type: none;  
    margin-right: 50px;
    top: 8px;
}

.top-nav.scroll {
    background: rgb(255, 255, 255);
    box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.527);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: sticky;
    height: 80px;
    z-index: 999;
    top: 0;
}

.logo.scroll::after {
    color: black;
}

.btn:hover.scroll {
    box-shadow: inset 0px 1px 1px 30px #4671ff;
    color: white;
    transition: all .6s ease;
}
.scrollItems {
    color: rgb(0, 0, 0) !important;
    position: relative;
    bottom: 4px;
}


.nav-item a {
    text-decoration: none;
    color:rgb(255, 255, 255);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    letter-spacing: 1.3px;
    border-bottom: solid 3px transparent;
    padding-bottom: 6px;
    transition: border-color .3s ease;
}

.nav-item a:hover {
    border-color: #f8dce1;
    color: #f8dce1;
    transition: .5s ease;
    
}

.btn.scroll {
    color: rgb(0, 0, 0);
    height: 50px;
    position: relative;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn {
    background: transparent;
    min-width: 8%;
    position: relative;
    bottom: 0;
    padding: 15px 35px;
    text-align: center;
    font-size: 18px;
    border: 2px solid #17afa3;
    border-radius: 2px;
    color: white;
    font-weight: 600;
    box-sizing: border-box;
    transition: box-shadow .6s ease;
    cursor: pointer;
    
}

.btn:hover {
    box-shadow: inset 0px 1px 1px 30px #17afa3;
    
}



.btn:active {
    color: #000000;
    
}

   

.search:focus {
    outline: 4px solid rgba(190, 240, 240, 0.356);
    /* border: 3px solid rgba(68, 119, 119, 0.87); */
    border-radius: 2px;

    
}

.search:hover {
    outline: 5px solid rgba(190, 240, 240, 0.356);
    
}

.hidden {
    display: none;
}


.round1 {
    position: relative;
    bottom: 280px;
    left: 390px;
    width: 20%;
    height: 55%;
    border-radius: 50px;
    background-color: #f1ebf121;
    animation: round1 60s linear infinite;
    z-index: 1;
}


/* HEADER SHAPE ANIMATIONS */

@keyframes round1 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


.abstract {
    width: 1600px;
    height: 600px;
    /* border: 2px solid; */
    position: relative;
    bottom: 320px;
    left: 200px;
    /* overflow: hidden; */
}

/* .art1 {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border-bottom: 15px solid #f1a2f857;
    transform: rotate(45deg) skew(-45deg);
    position: relative;
    bottom: 130px;
    left: 295px;   
} */

.art2 {
    width: 180px;
    background-color: transparent;
    border-bottom: 15px solid #4671ff;
    transform: rotate(45deg) skew(-45deg);
    position: relative;
    top: 400px;
    left:495px;   
    z-index: 4;
    animation: art2 .8s ease-in;
}

/* ART2 animation */

@keyframes art2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.art3 {
    width: 0px;
    /* display: inline-block; */
    background-color: transparent;
    border-bottom: 60px solid #5277f18c;
    border-top-right-radius: 5px;
    transform: skewX(45deg);
    position: relative;
    top: 396px;
    left: 610px;
    animation: art3 1.8s ease-in-out .7s forwards;
}

/* ART3 animation */
@keyframes art3 {
    from {
        width: 0px;
    }
    to {
        width: 480px;
    }
}


.top-intro {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 700px);
    grid-template-rows: auto;
    place-items: center;
    place-content: center;
    z-index: 6;

}

.custom-shape-divider-bottom-1678401634 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 120%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    animation: waveAnimate 2.6s ease-in infinite alternate-reverse;
}

.custom-shape-divider-bottom-1678401634 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 140px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678401634 .shape-fill {
    fill: #FFFFFF;
}


@keyframes waveAnimate {
    from {
      left: 0;
      width: 120%;
    }
    to {
      left: -300px;
      width: 200%;
    }
}

.intro1 {
    position: relative;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 12;
}

.intro2 {
    position: relative;
    top: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.intro2 h1::before {
    width: 100%;
    position: absolute;
    bottom: 80px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    content: "Design | Develop | Conquer";
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 100;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.intro2 h1 {
    position: relative;
    color: #444444;
    font-weight: 700;
    font-size: 70px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
   
}

.top-intro img {
    max-width: 500px;
}

/* SLOGAN TESTING */

.slogan-icon.show {
    opacity: 1;
    transform: translateY(0);
    transition: all .7s;
}


/* SLOGAN ICONS */
.slogan-icon {
    margin-top: -30px;
    opacity: 0;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 50px;
    transform: translateY(100px);
    text-align: center;
    padding: 4% 14%;  
}

.check-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  background: rgb(39, 202, 194);
  border-radius: 50%;
  animation: iconRadiate 1s ease-out infinite alternate-reverse;
  /* transition: box-shadow 1s; */

}

@keyframes iconRadiate {
  from {
    box-shadow: 0 0 1px 0px rgba(243, 18, 85, 0.199);

  }
  to{
    box-shadow: 0 0 1px 25px rgba(243, 89, 18, 0.041);
  }
}

.check-icon svg {
  width: 50px;
  height: 50px;
  stroke:rgb(255, 255, 255);
}

.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.slogan-text {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    letter-spacing: 1px;
    color: rgb(22, 22, 22);
}

.icons p {
    font-family: 'Poppins', sans-serif;
    color: rgb(88, 88, 88);
    font-weight: 300;
    line-height: 1.6;
    text-align: center;
    margin: 0;
}



  /* PORTFOLIO */
  
  #portfolio {
    position: relative;
    top: 0;
    display: grid;
    place-content: center;
    grid-auto-flow: column;
    z-index: 555;
    overflow: hidden;
  }

  .portfolio1 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .portfolio2 {
    position: relative;
    background:rgba(240, 240, 239, 0.432);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 25%;
    z-index: 4;
   
  }

  
.string1 {
    position: absolute;
    opacity: 0;
    right: -300px;
    width: 360px;
    z-index: -1;
    
}

  
  .btn-portfolio {
    background: transparent;
    border: 1px solid rgba(126, 126, 126, 0.863);
    border-radius: 20px;
    width: 105px;
    height: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: rgb(126, 126, 126, 0.863);
    margin-bottom: 25px;
  }

  .portfolio-content {
    position: relative;
    right: 155px;
    bottom: 50px;
  }

  .portfolio2-text {
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    line-height: 1;
  }

  .portfolio2-desc {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: rgba(46, 46, 46, 0.753);
  }

  .portfolio1 img {
    width: 100%;
  }

.btn-contact2 {
    position: relative;
    width: 180px;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 600;
    background-image: linear-gradient(290deg, #6454f0 20%, #cb68f1 80%);
    background-size: 180%;
    background-position: 100%;
    margin-top: 20px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 1s;
}

.btn-contact2:hover {
   background-position: 20%;
}




/* ABOUT ME MODAL */

.about-modal {
  display: none;
  position: absolute;
  bottom: 20px;
  width: 300px;
  height: 400px;
  left: 50%;
  opacity: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0 20px;
  transform: translateX(-50%);
  background-image: linear-gradient(295deg, #f53555 5%, #f7b37b 80%);
  background-size: 120%;
  background-position: top right;
  z-index: 999;
  cursor: pointer;
  overflow: hidden;
  transition: opacity .6s;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content h2 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: white;
  bottom: 20px;
}

.modal-content img {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  transition: top .5s ease-in-out, transform .8s ease-in-out;
}

.modal-open {
  display: flex;
  opacity: 1;
  animation: modalOpacity .6s;
  transition: opacity .6s;
}

@keyframes modalOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
  
.modal-close {
  display: none;
  opacity: 0;
  /* transition: opacity 0.8s ease-in-out; */
}

.modalNext {
  background:rgb(98, 109, 155);
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  position: relative;
  top: 10px;
  /* left: 50%;
  transform: translateX(-50%); */
  width: 20%;
  cursor: pointer;
}

.modalNext i {
  font-size: 1.5rem;
  color: white;
}



.modal-content img.moveModal {
  top: -20px;
  transform: scale(1.04);
  transition: top .5s ease-in-out, transform .8s ease-in-out;

}



  /* CARDS */

  #content {
    height: 100vh;
    background: #161A23;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
    z-index: 888;
  }

  .container {
    filter: blur(5px);
    opacity: 0;
    position: relative;
    top: 300px;
    margin-top: 50px;
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: repeat(3, 370px); */
    place-content: center;
    place-items: center;
    grid-gap: 40px;
    
  }
  

  .card {
    /* margin: 0 auto; */
    width: 330px;
    position: relative;
    transition: all .2s ease-in;
    bottom: 30px;
    border-radius: 10px;

    overflow: hidden;
    /* z-index: 999; */
  }

.card:hover {
    bottom: 40px;
    box-shadow: 0 2px 15px 0px rgba(255, 255, 255, 0.452);
  }

  .card:hover > .card-body{
    background: rgb(53, 56, 71);
    border-bottom-left-radius: 100px;
    transition: border-radius .7s;

  }

  .card:hover > .card-img{
    transform: scale(1.07);
    border-top-right-radius: 10px;
    border-top-right-radius: 10px;
    
  }

  .card-body {
    background: rgb(39, 42, 56);
    height: 360px;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: background .2s ease-in-out, border-radius .7s;

  }

  .card-title {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    margin-top: 50px;
    font-size: 28px;
  }

  .card-title2 {
    padding: 0 20px;
    text-align: center;
  }

  .card-body ul {
    /* margin: 12px 0; */
    padding: 0;
  }

  .card-body li {
    list-style-type: none;
    color: rgb(184, 184, 184);
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    
  }

  .card-body h2 {
    font-size: 1.5rem;
    text-align: center;
  }

  .card-list i {
    margin-right: 12px;
    margin-bottom: 10px;
    color: #9d5bf8;
  }

  .card-body2 ul{
    margin-top: 0;
  }

  .card-body2 {
    height: 360px;
  }

  .item2 img {
    height: 220px;
    object-fit: cover;
  }

  .card-img {
    width: 100%;
    max-height: 300px;
    margin-bottom: -4px;
    transition: all .5s ease;
  }

  .btn-getStarted {
    position: relative;
    width: 240px;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    color: white;
    font-weight: 500;
    background-image: linear-gradient(290deg, #6454f0 20%, #cb68f1 80%);
    background-size: 180%;
    background-position: 100%;
    margin-top: 35px;
    box-sizing: border-box;
    cursor: pointer;   
}

.btn-getStarted2 {
    margin-top: 80px !important;
}

.btn-getStarted3 {
  margin-top: 65px !important;
}

.btn-getStarted:hover {
    background-position: 0%;
    transition: .5s;
}

  /* SERVICES */

  .btn-feature {
    background: transparent;
    margin-top: -35px;
    margin-bottom: 20px;
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 20px;
    width: 95px;
    height: 35px;
    font-size: 12px;
    color: white;
  }
  
  .features {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  h1.service-text {
    opacity: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 45px;
    letter-spacing: -1px;
    line-height: 1;
    align-content: center;
  }

  h1.service-text.showText {
    opacity: 1;
    transition: 1s ease-in-out;
  }

  .features p {
    color: rgba(190, 190, 190, 0.753);
    font-family: 'Montserrat', sans-serif;
    max-width: 600px;
    text-align: center;
    line-height: 1.7;
    display: block;
    margin-top: 0;
    margin-bottom: 30px;
    
  }

/* ART WITH SERVICES */


.string2 {
    position: relative;
    bottom: 750px;
    right: 750px;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    border: 20px solid rgba(223, 23, 241, 0.616);
    /* transform: rotate(45deg); */
    animation: string 40s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.string2-child {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    border: 20px solid rgba(223, 23, 241, 0.308);
    animation: string2Child 30s ease-in infinite;
}

.string3-child {
    width: 650px;
    height: 650px;
    position: relative;
    border: 15px solid rgba(223, 23, 241, 0.13);
    animation: string3Child 30s ease-in infinite;
}

@keyframes string2Child {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes string3Child {
    0% {
        transform: rotate(-90deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@keyframes string {
    0% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(-360deg);
    }
    100% {
        transform: rotate(-45deg);
    }
}

/* SCROLL ARROW UP */

.scroll-arrow {
    /* background-image: linear-gradient(295deg, #4671ff 15%, #a967ff 100%);
    background-size: 170%;
    background-position: right; */
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    position: relative;
}


.scroll-arrow.arrow-show  {
    background-image: linear-gradient(295deg, #1040df 15%, #a967ff 100%);
    background-size: 270%;
    background-position: top;
    transition: background-position .5s, bottom .3s ease, opacity 1s ease;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 25px;
    overflow: hidden;
    z-index: 999;
    animation: scrollArrow .8s cubic-bezier(0.215, 0.610, 0.355, 1) forwards;
    /* transition: bottom .3s ease;   */
}

.scroll-arrow:hover {
    background-position: left;
}


.scroll-arrow i {
    animation: arrowIcon 2s ease-in forwards;
}

@keyframes arrowIcon {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
} 

@keyframes scrollArrow {
    0% {
        bottom: -300px;
        opacity: 0;
    }
    50% {
        bottom: 70px;
        opacity: 0.5;

    }
    100% {
        bottom: 50px;
        opacity: 0.8;

    } 
}

.scroll-arrow:hover > i {
    color: white;
}

.scroll-arrow i:active {
    color: rgb(98, 109, 155);
    transition: all 1s;
}


/* END OF SCROLL ARROW */


/* PROJECTS */

.projects {
    position: relative;
    width: auto;
    height: 90vh;
    border: 2px solid;
    background: rgb(220, 216, 243);
}

/* CARD ENTRY */


.container.card-show{
  filter: blur(0);
  opacity: 1;
  top: 0;
  transition: 1.5s ease;
}

/* PORTFOLIO IMG ENTRY */

.string1.show-img {
    position: aboslute;
    right: 0;
    opacity: 1; 
    transition: right 1s ease, opacity 2.2s ease;
}

/* TESTIMONIAL */

.testimonial {
  width: 100%;
  height: 500px;
  background: #ffffff;
}


  /* FOOTER */


  .footer {
    display: flex;
    justify-content: space-between;
    background-color: #161A23;
    padding: 2rem;
    flex-wrap: wrap;
  }

  .footer-section {
    flex: 1;
    margin: 1rem;
  }

  .footer-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .footer-heading {
    font-weight: bold;
    margin-bottom: 1rem;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .footer-link {
    display: block;
    margin-bottom: 0.5rem;
    text-decoration: none;
    color: #b1b1b1;
    font-family: "Roboto", sans-serif;
  }


  .footer-link:hover {
    color: #f51c1c;
  }

  @media (max-width: 768px) {
    .footer-section {
      flex-basis: 50%;
    }
  }

  @media (max-width: 480px) {
    .footer-section {
      flex-basis: 100%;
    }
  }





/* Mobile Styles */
@media (max-width: 520px) {

  .top-nav.mobileScroll {
    visibility: hidden;
    position: static;
    background: none;
    box-shadow: none;
    transition: visibility 1s;
  }

  .nav-item a:hover {
    color: rgb(231, 230, 230);
    border-color: rgb(231, 230, 230);
  }

    .nav-item {
        position: static;
        margin: 10px 30px;
        text-align: center;
}
    .nav-item a {
        font-size: 20px;
        color: rgb(255, 255, 255);
        /* text-shadow: 0 1px 3px rgb(0, 0, 0); */
    }

    .btn {
        margin-top: 10px;
        border-color: #17afa3 !important;
    }

  .top-nav {
    background: transparent;
    opacity: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -180px;
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: all 1s;
    overflow: visible;
}
 
  .top-nav.toggle {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 555;
    top: 140px;
    transition: all .5s ease-in-out;
}

  .left-nav, .right-nav {
    display: none;
  }

  .top-contact {
    position: relative;
    display: flex;
    margin: 0 0;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
    z-index: 555;
    background: transparent;
    /* overflow-Y: hidden; */
  }

  .hamburger {
    display: block;
    position: relative;
    /* left: 30px; */
    top: 30px;
    z-index: 999;
  }

  .hamburger i {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
  }

  .hamburger i:hover {
    color: rgb(221, 221, 221);
    transition: .3s;
  }

  .hamburger i:focus {
    color:rgb(223, 223, 223)
  }

  
.header {
    position: relative;
    bottom: 180px;
    height: 102vh;
    background-size: 200%;
    animation: darkBG .5s ease-out infinite alternate;
  /* overflow: hidden; */
}

.night-mode {
  width: 50px;
  height: 50px;
  top: 540px;
  left: 320px;
}



.dark-mode i, .light-mode i {
  font-size: 1.8rem;
  opacity: 0.6;
}


  .logo {
    display: none;
  }
  
  .round1 {
    width: 80%;
    height: 35%;
    left: 38px;
    bottom: 300px;
}

  .top-intro {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto; /* specify two rows with equal height */
    grid-gap: 180px;
    place-content: center;
    justify-content: center;
    bottom: 20px;
  }
  
  .intro1 img.moveRight {
    filter: blur(4px);
    right: 0;
    transition: filter .6s ease;
  }

  .intro2.intro2Move {
    font-size: 6rem;
    animation: blurIntro2 .8s ease forwards;
    transition: filter 100s;
  }

  @keyframes blurIntro2 {
    0% {
        filter: blur(5px);
        
    }
    50% {
        filter: blur(5px);
        
    }
    100% {
        filter: blur(0);
    
  }
}

.custom-shape-divider-bottom-1678401634 {
    width: 150%;
}

.custom-shape-divider-bottom-1678401634 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678401634 .shape-fill {
  fill: #ffffff;
}



@keyframes waveAnimate {
  from {
    left: 0;
    width: 120%;
  }
  to {
    left: -100px;
    width: 400%;
  }
}

  .intro1 {
    filter: blur(0);
    position: relative;
    top: 235px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .intro2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 30s, bottom .6s ease, font-size .6s;
  }
  
  .intro2 h1 {
    color: white;
    font-weight: 800;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    transition: filter 3s, bottom .6s ease, font-size .6s;
  }
  
  .intro2 h1::before {
    font-size: 17px;
    width: 100%;
    bottom: 60px;
    color:#ebf0ee;
    font-weight: 500;
  }
  .intro1 img {
    filter: blur(0);
    max-width: 75%;
    transition: bottom .8s ease-out, right .4s, filter .6s ease;
}

.btn:hover {
    box-shadow: inset 0px 1px 1px 30px #17afa3;
}
.btn:focus {
    box-shadow: inset 0px 1px 1px 30px #17afa3;
}
/* .left-slogan {
    display: flex; 
    justify-content: center; 
    transition: filter .8s, left .7s;
    position: static;
  } */

/* .left-slogan.moveRight {
    position: relative;
    bottom: 185px;
    left: 140px;
    filter: blur(2px);
}  */


.btn-contact2:focus {
  background-position: right;
  background-size: 120%;
}

.container {
    overflow: hidden;
}

.slogan-icon {
    grid-template-columns: 1fr;
    grid-gap: 60px;
    grid-template-rows: repeat(3, auto);
    padding: 5% 12% 15% 12%;
    margin-top: -100px;
}


.icons p {
    text-align:center ;
}

#portfolio {
    grid-template-columns: 1fr;
}

.portfolio2{
    display: block;
    padding: 50px 0;
}
.portfolio-content {
    position: static;
    display: block;
    flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.portfolio2-desc {
    text-align: justify;
    padding: 0 5%;
}

.btn-portfolio {
    width: 30%;
    height: 40px;
}
.string1 {
    display: none;
}
.container {
    grid-auto-flow: row;
    top: 0;
}


.card {
    margin: 20px 20px;
    width: 100%;
    max-width: 350px;
    position: static;
}


.card-img {
    width: 100%;
    margin-bottom: -4px;
    transition: all .5s ease;
  } 

.card-body {
    width: auto;
    margin: 0 auto;
}

.card-body ul {
    margin: 12px 0;
    padding: 0;
  }

  .card-body:active {
    background: rgb(53, 56, 71);
    border-bottom-left-radius: 100px;
    transition: all .3s;
  }

  .card:active > .card-body{
    background: rgb(53, 56, 71);
    border-bottom-left-radius: 100px;
    transition: all .3s;
  }

  .card:active > .card-img{
    transform: scale(1.07);
  }

  .card-body.cardClick {
    background: rgb(53, 56, 71);
    border-bottom-left-radius: 100px;
    transition: all .3s;
  }


.features p {
    padding: 0 20px;
    text-align: justify;
}

  #content {
    height: auto;
    background: #161A23;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
    z-index: 777;
  }

  .service-text {
    text-align: center;
    padding: 0 5%;
  }

  
}

@media(min-width: 521px) and (max-width: 850px) {

    .top-nav.mobileScroll {
      visibility: hidden;
      position: static;
      background: none;
      box-shadow: none;
      transition: visibility 1s;
    }
  
    .nav-item a:hover {
      color: rgb(231, 230, 230);
      border-color: rgb(231, 230, 230);
    }
  
      .nav-item {
          position: static;
          margin: 10px 30px;
          text-align: center;
  }
      .nav-item a {
          font-size: 20px;
          color: rgb(255, 255, 255);
          /* text-shadow: 0 1px 3px rgb(0, 0, 0); */
      }
  
      .btn {
          margin-top: 10px;
          border-color: #17afa3 !important;
      }
  
    .top-nav {
      background: transparent;
      opacity: 0;
      background: none;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      top: -180px;
      left: 0;
      z-index: 1;
      background-color: transparent;
      transition: all 1s;
      overflow: visible;
  }
   
    .top-nav.toggle {
      opacity: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      z-index: 555;
      top: 140px;
      transition: all .5s ease-in-out;
  }
  
    .left-nav, .right-nav {
      display: none;
    }
  
    .top-contact {
      position: relative;
      display: flex;
      margin: 0 0;
      padding: 10px 0;
      justify-content: center;
      align-items: center;
      /* height: 60px; */
      z-index: 555;
      background: transparent;
      /* overflow-Y: hidden; */
    }
  
    .hamburger {
      display: block;
      position: relative;
      /* left: 30px; */
      top: 30px;
      z-index: 999;
    }
  
    .hamburger i {
      display: block;
      color: rgb(255, 255, 255);
      font-size: 3.5rem;
    }
  
    .hamburger i:hover {
      color: rgb(221, 221, 221);
      transition: .3s;
    }
  
    .hamburger i:focus {
      color:rgb(223, 223, 223)
    }
  
    
  .header {
      position: relative;
      bottom: 180px;
      height: 120vh;
      background-size: 200%;
      animation: darkBG .5s ease-out infinite alternate;
    /* overflow: hidden; */
  }
  
  .night-mode {
    width: 50px;
    height: 50px;
    top: 60%;
    left: 80%;
  }
  
  
  
  .dark-mode i, .light-mode i {
    font-size: 1.8rem;
    opacity: 0.6;
  }
  
  
    .logo {
      display: none;
    }
    
    .round1 {
      width: 80%;
      height: 35%;
      left: 38px;
      bottom: 300px;
  }
  
    .top-intro {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto; /* specify two rows with equal height */
      grid-gap: 180px;
      place-content: center;
      justify-content: center;
      bottom: 20px;
    }
    
    .intro1 img.moveRight {
      filter: blur(4px);
      right: 0;
      transition: filter .6s ease;
    }
  
    .intro2.intro2Move {
      font-size: 6rem;
      animation: blurIntro2 .8s ease forwards;
      transition: filter 100s;
    }
  
    @keyframes blurIntro2 {
      0% {
          filter: blur(5px);
          
      }
      50% {
          filter: blur(5px);
          
      }
      100% {
          filter: blur(0);
      
    }
  }
  
  .custom-shape-divider-bottom-1678401634 {
      width: 150%;
  }
  
  .custom-shape-divider-bottom-1678401634 svg {
      position: relative;
      display: block;
      width: calc(100% + 1.3px);
      height: 50px;
      transform: rotateY(180deg);
  }
  
  .custom-shape-divider-bottom-1678401634 .shape-fill {
    fill: #ffffff;
  }
  
  
  
  @keyframes waveAnimate {
    from {
      left: 0;
      width: 120%;
    }
    to {
      left: -100px;
      width: 400%;
    }
  }
  
    .intro1 {
      filter: blur(0);
      position: relative;
      top: 235px;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
    }
    
    .intro2 {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: filter 30s, bottom .6s ease, font-size .6s;
    }
    
    .intro2 h1 {
      color: white;
      font-weight: 800;
      font-size: 45px;
      font-family: 'Montserrat', sans-serif;
      margin: 0 auto;
      transition: filter 3s, bottom .6s ease, font-size .6s;
    }
    
    .intro2 h1::before {
      font-size: 17px;
      width: 100%;
      bottom: 60px;
      color:#ebf0ee;
      font-weight: 500;
    }
    .intro1 img {
      filter: blur(0);
      max-width: 75%;
      transition: bottom .8s ease-out, right .4s, filter .6s ease;
  }
  
  .btn:hover {
      box-shadow: inset 0px 1px 1px 30px #17afa3;
  }
  .btn:focus {
      box-shadow: inset 0px 1px 1px 30px #17afa3;
  }
  /* .left-slogan {
      display: flex; 
      justify-content: center; 
      transition: filter .8s, left .7s;
      position: static;
    } */
  
  /* .left-slogan.moveRight {
      position: relative;
      bottom: 185px;
      left: 140px;
      filter: blur(2px);
  }  */
  
  .portfolio-content .btn-portfolio {
    width: 20%;
  }
  .btn-contact2:focus {
    background-position: right;
    background-size: 120%;
  }
  
  .container {
      overflow: hidden;
  }
  
  .slogan-icon {
      grid-template-columns: 1fr;
      grid-gap: 60px;
      grid-template-rows: repeat(3, auto);
      padding: 5% 12% 15% 12%;
      margin-top: -100px;
  }
  
  
  .icons p {
      text-align:center ;
  }
  
  #portfolio {
      grid-template-columns: 1fr;
  }
  
  .portfolio2{
      display: block;
      height: 380px;
      padding: 50px 0;
  }
  .portfolio-content {
      position: static;
      display: block;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
  
  .portfolio2-desc {
      text-align: justify;
      padding: 0 5%;
  }
  
  .btn-portfolio {
      width: 30%;
      height: 40px;
  }
  .string1 {
      display: none;
  }
  .container {
      grid-auto-flow: row;
      top: 0;
  }
  
  
  .card {
      margin: 20px 20px;
      width: 60%;
      max-width: 550px;
      height: 100%;
      max-height: 570px;
      position: static;
  }
  
  
  .card-img {
      width: 100%;
      max-width: auto;
      margin-bottom: -4px;
      transition: all .5s ease;
    } 
  
  .card-body {
      width: 100%;
      height: 500px;
      margin: 0 auto;
  }

  .card-body h2 {
    font-size: 1.5rem;
  }
  
  .card-body ul {
      margin: 12px 0;
      padding: 0;
    }
  
    .card-body:active {
      background: rgb(53, 56, 71);
      border-bottom-left-radius: 100px;
      transition: all .3s;
    }
  
    .card:active > .card-body{
      background: rgb(53, 56, 71);
      border-bottom-left-radius: 100px;
      transition: all .3s;
    }
  
    .card:active > .card-img{
      transform: scale(1.07);
    }
  
    .card-body.cardClick {
      background: rgb(53, 56, 71);
      border-bottom-left-radius: 100px;
      transition: all .3s;
    }
  
  .btn-getStarted {
    width: 100%;
    max-width: 160px;
    padding: 20px auto;
    font-size: 1rem;
  }

  .btn-getStarted2 {
    position: relative;
    top: 20px;
  }
  
  .features p {
    font-size: 1rem;
    padding: 0 20px;
    text-align: center;
  }
  
  #content {
    height: auto;
    background: #161A23;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 0;
    z-index: 777;
  }

  .service-text {
    text-align: center;
    padding: 0 5%;
  }
  
    
  
}

@media (min-width: 851px) and (max-width: 960px) {
  .top-nav.mobileScroll {
    visibility: hidden;
    position: static;
    background: none;
    box-shadow: none;
    transition: visibility 1s;
  }

  .nav-item a:hover {
    color: rgb(231, 230, 230);
    border-color: rgb(231, 230, 230);
  }

    .nav-item {
        position: static;
        margin: 5px 30px;
        text-align: center;
}
    .nav-item a {
        font-size: 16px;
        color: rgb(255, 255, 255);
        /* text-shadow: 0 1px 3px rgb(0, 0, 0); */
    }

    .btn {
        margin-top: 5px;
        border-color: #17afa3 !important;
    }

  .top-nav {
    background: transparent;
    opacity: 0;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: -180px;
    left: 0;
    z-index: 1;
    background-color: transparent;
    transition: all 1s;
    overflow: visible;
}
 
  .top-nav.toggle {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 555;
    top: 90px;
    transition: all .5s ease-in-out;
}

  .left-nav, .right-nav {
    display: none;
  }

  .top-contact {
    position: relative;
    display: flex;
    margin: 0 0;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
    /* height: 60px; */
    z-index: 555;
    background: transparent;
    /* overflow-Y: hidden; */
  }

  .hamburger {
    display: block;
    position: relative;
    /* left: 30px; */
    top: 30px;
    z-index: 999;
  }

  .hamburger i {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
  }

  .hamburger i:hover {
    color: rgb(221, 221, 221);
    transition: .3s;
  }

  .hamburger i:focus {
    color:rgb(223, 223, 223)
  }

  
.header {
    position: relative;
    bottom: 180px;
    height: 102vh;
    background-size: 300%;
    animation: darkBG 1.5s ease-out infinite alternate;
  /* overflow: hidden; */
}

.night-mode {
  width: 50px;
  height: 50px;
  top: 540px;
  left: 50%;
  transform: translateX(-25%);
}



.dark-mode i, .light-mode i {
  font-size: 1.8rem;
  opacity: 0.6;
}


  .logo {
    display: none;
  }
  
  .round1 {
    width: 50%;
    height: 55%;
    left: 25%;
    bottom: 120px;
}

  .top-intro {
    position: relative;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: none; /* specify two rows with equal height */
    grid-gap: 0;
    place-content: center;
    justify-content: center;
    bottom: 20px;
  }
  
  .intro1 img.moveRight {
    filter: blur(4px);
    right: 0;
    transition: filter .6s ease;
  }

  .intro2.intro2Move {
    font-size: 6rem;
    animation: blurIntro2 .8s ease forwards;
    transition: filter 100s;
  }

  @keyframes blurIntro2 {
    0% {
        filter: blur(5px);
        
    }
    50% {
        filter: blur(5px);
        
    }
    100% {
        filter: blur(0);
    
  }
}

.custom-shape-divider-bottom-1678401634 {
    width: 150%;
}

.custom-shape-divider-bottom-1678401634 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1678401634 .shape-fill {
  fill: #ffffff;
}



@keyframes waveAnimate {
  from {
    left: 0;
    width: 120%;
  }
  to {
    left: -100px;
    width: 400%;
  }
}

  .intro1 {
    filter: blur(0);
    position: relative;
    top: 235px;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  
  .intro2 {
    position: relative;
    display: flex;
    top: 250px;
    right: 20%;
    align-items: center;
    justify-content: center;
    transition: filter 30s, bottom .6s ease, font-size .6s;
  }
  
  .intro2 h1 {
    color: white;
    font-weight: 800;
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    transition: filter 3s, bottom .6s ease, font-size .6s;
  }
  
  .intro2 h1::before {
    font-size: 17px;
    width: 100%;
    bottom: 60px;
    color:#ebf0ee;
    font-weight: 500;
  }
  .intro1 img {
    filter: blur(0);
    /* width: 100%; */
   width: 80%;
    transition: bottom .8s ease-out, right .4s, filter .6s ease;
}

 #portfolio {
    grid-auto-flow: row;
  }
.portfolio1 img {
  display: none;
}
.portfolio2 {
  height: 500px;
  padding-top: 80px;
}

.slogan-icon {
  margin-top: -100px;
  margin-bottom: 40px;
  padding: 2% 1%;
}

.check-icon {
  width: 70px;
  height: 70px;
}

.check-icon svg {
  width: 40px;
  height: 40px;
}
.icons .slogan-text {
  font-size: 1.2rem;
}

.icons p {
  font-size: .8rem;
  text-align: justify;
}
.btn:hover {
    box-shadow: inset 0px 1px 1px 30px #17afa3;
}
.btn:focus {
    box-shadow: inset 0px 1px 1px 30px #17afa3;
}

.btn-contact2:focus {
  background-position: right;
  background-size: 120%;
}

.slogan-icon.show {
  opacity: 1;
  transform: translateY(-20px);
  transition: all 1s;
}


#content {
  height: 100vh;
}

.container {
  grid-auto-flow: column;
  margin: 0 2%;
}

.features .service-text {
  font-size: 2rem;
}

.features p {
  font-size: 1rem;
  margin-bottom: 80px;
}

.features .btn-feature {
  margin-top: -70px;
}

.card {
  width: 100%;
  max-width: 500px;
  height: 100%;
  max-height: 85%;
}

.card-body h2 {
  font-size: 1rem;
}

.card-body .card-list {
  font-size: .8rem; 
}

.btn-getStarted {
  width: 100%;
  font-size: .8rem;
  max-width: 120px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  bottom: 15px;
}

.btn-getStarted2 {
  top: 5%;
}

}